* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* ======================= Common ======================= */
.word-break-all {
    word-break: break-all;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.desc {
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
}

.sub-title {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.263;
    letter-spacing: -0.02em;
}

.hero ~ * {
    margin-top: 200px;
}

.btn {
    display: inline-block;
    min-width: 118px;
    height: 50px;
    border-radius: 999px;
    background: #171100;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 50px;
    text-align: center;
}

.btn:hover {
    background: var(--primary-color);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ======================= Header ======================= */
.header {
    padding: 28px 0 0;
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .header-body {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 8px 21px;
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
}

.header .nav a:hover {
    text-shadow: 1px 0 0 #000000;
}

.header .nav .active {
    position: relative;
    color: #171100;
    font-weight: 600;
}

.header .nav .active::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .signup-btn {
    min-width: 144px;
    margin-left: 49px;
}

/* ======================= Hero ======================= */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero-body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
}

.hero-sumary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px #0000000d;
}

.hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero-sumary .item + .item {
    margin-top: 14px;
}

.hero-sumary .icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-sumary .item:nth-of-type(2) .icon-block {
    background: #fcefff;
}

.hero-sumary .item:nth-of-type(3) .icon-block {
    background: #ebeaff;
}

.hero-sumary .text {
    margin-left: 16px;
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.857;
}

.hero-sumary .title {
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .content-block {
    width: 52%;
    padding-left: 128px;
}

.hero .content-block .heading {
    width: 485px;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 5.8rem;
    line-height: 1.172;
    letter-spacing: -2%;
}

.hero .content-block .desc:first-of-type {
    margin-top: 22px;
}

.hero .cta-group {
    display: flex;
    margin-top: 38px;
}

.hero .see-courses-btn {
    display: inline-block;
    min-width: 180px;
    height: 64px;
    font-size: 1.8rem;
    line-height: 1.67;
    line-height: 64px;
    background: #ffb900;
}

.hero .see-courses-btn:hover {
    background: #ffbb00d9;
}

.hero .watch-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px 0px #00000012;
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .content-block .desc:nth-of-type(2) {
    margin-top: 48px;
}

.hero-stats {
    margin: 8px 0 0 -28px;
}

.hero-stats strong {
    margin: 0 8px 0 28px;
    color: #000;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 1.227;
}

/* ======================= Courses ======================= */
.courses-introduce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-desc {
    width: 458px;
    margin-top: 16px;
}

.courses .intro-right {
    display: flex;
    gap: 18px;
}

.courses .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    background: transparent;
    cursor: pointer;
}

.courses .control-btn:hover {
    color: white;
    background: var(--primary-color);
}

.course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.course-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px #0000000d;
}

.course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.course-item .course-info {
    padding: 16px 22px 22px;
}

.course-info .foot,
.course-item .rating,
.course-item .course-info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .course-info .title a {
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.course-item .rating .value {
    margin-left: 6px;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.course-item .course-desc {
    margin-top: 6px;
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.857;
}

.course-info .foot {
    margin-top: 12px;
}

.course-info .price {
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* ======================= Feedback ======================= */
.feedback {
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .user-name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.417;
}

.feedback-item .info .user-desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.857;
}

.feedback-item .dot-group {
    margin-top: 28px;
}

.feedback-item .dot-group .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dot.active {
    background: var(--primary-color);
}

.feedback-item .content {
    width: 66%;
}

.feedback-item .content blockquote {
    margin-left: 30px;
    color: #ffffff;
    font-style: Italic;
    font-size: 2.6rem;
    line-height: 1.539;
}

/* ======================= Features ======================= */
.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .img-block {
    display: flex;
    gap: 30px;
}

.features .img-block img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .img-block .lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
}

.features .content .features-desc {
    width: 458px;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features-btn {
    display: inline-block;
    min-width: 137px;
    margin-top: 32px;
    background: var(--primary-color);
}

.features-btn:hover {
    opacity: 0.8;
}

/* ======================= Features 2 ======================= */
.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .img-block img {
    width: 470px;
    height: 440px;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .content .features-desc {
    width: 100%;
}

/* ======================= Blogs ======================= */
.blogs {
    padding: 96px 0;
    background: #fffcf4;
}

.blogs-top {
    text-align: center;
}

.blogs-top .blogs-desc {
    width: 448px;
    margin: 16px auto 0;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog-items {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    overflow: hidden;
}

.blog-items .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background: #ffffff;
}

.blog-items .item:hover {
    box-shadow: 0px 16px 32px 0px #0000000d;
}

.blog-items .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog-items .item-info {
    padding: 20px 20px 28px;
}

.blog-items .item-info .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.857;
}

.blog-items .item-info .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog-items .item-info .date::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: -27px;
    display: inline-block;
    height: 1px;
    background: #e2dfda;
}

.blog-items .item-desc {
    margin: 12px 0;
    color: #171100;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.blogs .dot-group {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}

.blogs .dot-group .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blogs .dot-group .dot.active {
    background: var(--primary-color);
    cursor: default;
}

/* ======================= Footer ======================= */
.footer {
    padding-top: 96px;
    margin-top: 0;
    background: #2e2100;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column-1 {
    width: 22%;
}

.footer .column-1 .desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.857;
}

.footer .column-1 .social-media {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .column-group {
    display: flex;
    justify-content: space-between;
    width: 64%;
}

.footer .column-group .column:first-child {
    width: 17%;
}

.footer .column-group .column:nth-child(2) {
    width: 19%;
}

.footer .column-group .column:last-child {
    width: 31%;
}

.footer .column-group .title {
    position: relative;
    padding-bottom: 14px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer .column-group .title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .column-group .list {
    margin-top: 28px;
}

.footer .column-group .list a {
    display: inline-block;
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.857;
}

.footer .column-group strong {
    color: #fff;
    font-weight: 600;
}

.footer .copyright {
    padding: 28px 0;
    color: #807d74;
    font-size: 1.4rem;
    line-height: 1.857;
    text-align: center;
}
