* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* ======================= Common ======================= */
.btn {
    min-width: 118px;
    padding: 11px 41px;
    margin-left: 49px;
    border-radius: 24.5px;
    background: #171100;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
}

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ======================= Header ======================= */
.header {
    padding: 28px 0 0;
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .header-body {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 8px 21px;
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
}

.header .nav a:hover {
    text-shadow: 1px 0 0 #000000;
}

.header .nav .active {
    position: relative;
    color: #171100;
    font-weight: 600;
}

.header .nav .active::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .signup-btn:hover {
    background: #171100e3;
}
