* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* ======================= Common ======================= */
.desc {
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
}

.sub-title {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.263;
    letter-spacing: -0.02rem;
}

.hero ~ * {
    margin-top: 200px;
}

.btn {
    min-width: 118px;
    border-radius: 999px;
    background: #171100;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ======================= Header ======================= */
.header {
    padding: 28px 0 0;
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .header-body {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 8px 21px;
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
}

.header .nav a:hover {
    text-shadow: 1px 0 0 #000000;
}

.header .nav .active {
    position: relative;
    color: #171100;
    font-weight: 600;
}

.header .nav .active::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .signup-btn {
    padding: 11px 41px;
    margin-left: 49px;
}

.header .signup-btn:hover {
    background: #171100e3;
}

/* ======================= Hero ======================= */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero-body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
}

.hero-sumary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px #0000000d;
}

.hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero-sumary .item + .item {
    margin-top: 14px;
}

.hero-sumary .icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-sumary .item:nth-of-type(2) .icon-block {
    background: #fcefff;
}

.hero-sumary .item:nth-of-type(3) .icon-block {
    background: #ebeaff;
}

.hero-sumary .text {
    margin-left: 16px;
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.857;
}

.hero-sumary .title {
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .content-block {
    width: 52%;
    padding-left: 128px;
}

.hero .content-block .heading {
    width: 485px;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 5.8rem;
    line-height: 1.172;
    letter-spacing: -2%;
}

.hero .content-block .desc:first-of-type {
    margin-top: 22px;
}

.hero .cta-group {
    display: flex;
    margin-top: 38px;
}

.hero .see-courses-btn {
    display: inline-block;
    min-width: 180px;
    height: 64px;
    font-size: 1.8rem;
    line-height: 1.67;
    line-height: 64px;
    background: #ffb900;
}

.hero .see-courses-btn:hover {
    background: #ffbb00d9;
}

.hero .watch-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px 0px #00000012;
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .content-block .desc:nth-of-type(2) {
    margin-top: 48px;
}

.hero-stats {
    margin: 8px 0 0 -28px;
}

.hero-stats strong {
    margin: 0 8px 0 28px;
    color: #000;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 1.227;
}

/* ======================= Courses ======================= */
.courses-introduce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-desc {
    width: 458px;
    margin-top: 16px;
}

.courses .intro-right {
    display: flex;
    gap: 18px;
}

.courses .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    background: transparent;
    cursor: pointer;
}

.courses .control-btn:hover {
    color: white;
    background: var(--primary-color);
}
